<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}




	
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

	    <!-- Table of Contents -->
	<nav id="toc">
	    <ul>
	        <li><a href="#preprints">Preprints</a></li>
	        <li><a href="#journal-publications">Top-Tier Journal Publications</a></li>
	        <li><a href="#conference-publications">Conference Publications</a></li>
	    </ul>
	</nav>


<h4 id="preprints" style="margin-bottom:0px;padding-top:10px;">Preprints</h4>
<ul class="biblist">
  <li>
    <p>
      R. Piansky and R. K. Gupta and D. K. Molzahn<br>
      <b>{Optimizing Battery and Line Undergrounding Investments for Transmission Systems under Wildfire Risk Scenarios: A Benders Decomposition Approach}</b><br>
      <i>submitted</i>, vol. , , 2024.<br>
      <a href="javascript:toggleBibtex('piansky2024optimizing')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_piansky2024optimizing" class="bibtex noshow">
      <pre>
@article{piansky2024optimizing,
  title={Optimizing Battery and Line Undergrounding Investments for Transmission Systems under Wildfire Risk Scenarios: A Benders Decomposition Approach},
  author={R. Piansky and R. K. Gupta and D. K. Molzahn},
  journal={submitted},
  volume={},
  pages={},
  year={2024},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Molzahn, Daniel K<br>
      <b>Optimizing Phase Allocation in Unbalanced Power Distribution Networks using a Linearized DistFlow Formulation</b><br>
      <i>[under review]</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('gupta2024phasebalancing')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2024phasebalancing" class="bibtex noshow">
      <pre>
@article{gupta2024phasebalancing,
  title={Optimizing Phase Allocation in Unbalanced Power Distribution Networks using a Linearized DistFlow Formulation},
  author={Gupta, Rahul and Molzahn, Daniel K},
  journal={[under review]},
  volume={N/A},
  pages={N/A},
  year={2024},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul  and Molzahn, Daniel K<br>
      <b>Analysis of Fairness-promoting Optimization Schemes of Photovoltaic
Curtailments for Voltage Regulation in Power Distribution Networks</b><br>
      <i>[under review]</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('gupta2024analysisfairness')">[BibTeX]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.00394" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.00394" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2024analysisfairness" class="bibtex noshow">
      <pre>
@article{gupta2024analysisfairness,
  title={Analysis of Fairness-promoting Optimization Schemes of Photovoltaic
Curtailments for Voltage Regulation in Power Distribution Networks},
  author={Gupta, Rahul  and Molzahn, Daniel K},
  journal={[under review]},
  volume={N/A},
  pages={N/A},
  year={2024},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul  and Fahmy, Sherif and Chevron, Max and Figini, Enea and Paolone, Mario<br>
      <b>Grid-aware Scheduling and Control of Electric Vehicle Charging Stations for Dispatching Active Distribution Networks: Theory and Experimental Validation</b><br>
      <i>[under review]</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('gupta2024grid')">[BibTeX]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.12870" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.12870" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2024grid" class="bibtex noshow">
      <pre>
@article{gupta2024grid,
  title={Grid-aware Scheduling and Control of Electric Vehicle Charging Stations for Dispatching Active Distribution Networks: Theory and Experimental Validation},
  author={Gupta, Rahul  and Fahmy, Sherif and Chevron, Max and Figini, Enea and Paolone, Mario},
  journal={[under review]},
  volume={N/A},
  pages={N/A},
  year={2024},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      A. Rangarajan and R. K. Gupta and D. K. Molzahn and L. A. Roald<br>
      <b>{Forecast-Aided State Estimation in Unbalanced Distribution Networks Using Smart Meter Data under Limited Communication Bandwidth}</b><br>
      <i>submitted</i>, vol. , , 2024.<br>
      <a href="javascript:toggleBibtex('2024rangarajanforecaste')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_2024rangarajanforecaste" class="bibtex noshow">
      <pre>
@article{2024rangarajanforecaste,
  title={{Forecast-Aided State Estimation in Unbalanced Distribution Networks Using Smart Meter Data under Limited Communication Bandwidth}},
  author={A. Rangarajan and R. K. Gupta and D. K. Molzahn and L. A. Roald},
  journal={submitted},
  volume={},
  pages={},
  year={2024},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Molzahn, Daniel K.<br>
      <b>Improving Fairness in Photovoltaic Curtailments via Daily Topology
Reconfiguration for Voltage Control in Power Distribution Networks</b><br>
      <i>[under review]</i>, vol. N/A, N/A, 2024..<br>
      <a href="javascript:toggleBibtex('gupta2024improvingfairness')">[BibTeX]</a>
      <a href="https://doi.org/10.48550/arXiv.2403.07853" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.48550/arXiv.2403.07853" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2024improvingfairness" class="bibtex noshow">
      <pre>
@article{gupta2024improvingfairness,
  title={Improving Fairness in Photovoltaic Curtailments via Daily Topology
Reconfiguration for Voltage Control in Power Distribution Networks},
  author={Gupta, Rahul and Molzahn, Daniel K.},
  journal={[under review]},
  volume={N/A},
  pages={N/A},
  year={2024.},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Taheri Babak and Gupta, Rahul and Molzahn, Daniel K<br>
      <b>Optimized LinDistFlow for High-Fidelity Power Flow Modeling of
Distribution Networks</b><br>
      <i>[under review]</i>, vol. N/A, N/A, 2024..<br>
      <a href="javascript:toggleBibtex('Babak2024correctedLDF')">[BibTeX]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.05125" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.48550/arXiv.2404.05125" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_Babak2024correctedLDF" class="bibtex noshow">
      <pre>
@article{Babak2024correctedLDF,
  title={Optimized LinDistFlow for High-Fidelity Power Flow Modeling of
Distribution Networks},
  author={Taheri Babak and Gupta, Rahul and Molzahn, Daniel K},
  journal={[under review]},
  volume={N/A},
  pages={N/A},
  year={2024.},
  publisher={N/A}
}
      </pre>
    </div>
  </li>
</ul>

<h4 id="journal-publications" style="margin-bottom:0px;padding-top:10px;">Top-Tier Journal Publications</h4>
<ul class="biblist">
  <li>
    <p>
      Jacobs, Matthieu and Gupta, Rahul and Paolone, Mario<br>
      <b>Week-ahead dispatching of active distribution networks using hybrid energy storage systems</b><br>
      <i>Sustainable Energy, Grids and Networks</i>, vol. 39, 101500, 2024.<br>
      <a href="javascript:toggleBibtex('jacobs2024week')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.segan.2024.101500" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.segan.2024.101500" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_jacobs2024week" class="bibtex noshow">
      <pre>
@article{jacobs2024week,
  title={Week-ahead dispatching of active distribution networks using hybrid energy storage systems},
  author={Jacobs, Matthieu and Gupta, Rahul and Paolone, Mario},
  journal={Sustainable Energy, Grids and Networks},
  volume={39},
  pages={101500},
  year={2024},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio<br>
      <b>Optimal sizing and siting of energy storage systems considering curtailable photovoltaic generation in power distribution networks</b><br>
      <i>Applied Energy</i>, vol. 339, 120955, 2023.<br>
      <a href="javascript:toggleBibtex('gupta2023optimal')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.apenergy.2023.120955" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.apenergy.2023.120955" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2023optimal" class="bibtex noshow">
      <pre>
@article{gupta2023optimal,
  title={Optimal sizing and siting of energy storage systems considering curtailable photovoltaic generation in power distribution networks},
  author={Gupta, Rahul and Sossan, Fabrizio},
  journal={Applied Energy},
  volume={339},
  pages={120955},
  year={2023},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul<br>
      <b>Quantifying the Uncertainty of Sensitivity Coefficients Computed from Uncertain Compound Admittance Matrix and Noisy Grid Measurements</b><br>
      <i>IEEE Transactions on Instrumentation and Measurement</i>, vol. N/A, N/A, 2023.<br>
      <a href="javascript:toggleBibtex('gupta2023quantifying')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2023quantifying" class="bibtex noshow">
      <pre>
@article{gupta2023quantifying,
  title={Quantifying the Uncertainty of Sensitivity Coefficients Computed from Uncertain Compound Admittance Matrix and Noisy Grid Measurements},
  author={Gupta, Rahul},
  journal={IEEE Transactions on Instrumentation and Measurement},
  volume={N/A},
  pages={N/A},
  year={2023},
  publisher={IEEE}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Fahmy, Sherif and Paolone, Mario<br>
      <b>Coordinated day-ahead dispatch of multiple power distribution grids hosting stochastic resources: An ADMM-based framework</b><br>
      <i>Electric Power Systems Research</i>, vol. 212, 108555, 2022.<br>
      <a href="javascript:toggleBibtex('gupta2022coordinated')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108555" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108555" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2022coordinated" class="bibtex noshow">
      <pre>
@article{gupta2022coordinated,
  title={Coordinated day-ahead dispatch of multiple power distribution grids hosting stochastic resources: An ADMM-based framework},
  author={Gupta, Rahul and Fahmy, Sherif and Paolone, Mario},
  journal={Electric Power Systems Research},
  volume={212},
  pages={108555},
  year={2022},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Model-less robust voltage control in active distribution networks using sensitivity coefficients estimated from measurements</b><br>
      <i>Electric Power Systems Research</i>, vol. 212, 108547, 2022.<br>
      <a href="javascript:toggleBibtex('gupta2022model')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108547" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108547" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2022model" class="bibtex noshow">
      <pre>
@article{gupta2022model,
  title={Model-less robust voltage control in active distribution networks using sensitivity coefficients estimated from measurements},
  author={Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario},
  journal={Electric Power Systems Research},
  volume={212},
  pages={108547},
  year={2022},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Zecchino, Antonio and Yi, Ji-Hyun and Paolone, Mario<br>
      <b>Reliable dispatch of active distribution networks via a two-layer grid-aware model predictive control: Theory and experimental validation</b><br>
      <i>IEEE Open Access Journal of Power and Energy</i>, vol. 9, 465--478, 2022.<br>
      <a href="javascript:toggleBibtex('gupta2022reliable')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/OAJPE.2022.3216072" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/OAJPE.2022.3216072" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2022reliable" class="bibtex noshow">
      <pre>
@article{gupta2022reliable,
  title={Reliable dispatch of active distribution networks via a two-layer grid-aware model predictive control: Theory and experimental validation},
  author={Gupta, Rahul and Zecchino, Antonio and Yi, Ji-Hyun and Paolone, Mario},
  journal={IEEE Open Access Journal of Power and Energy},
  volume={9},
  pages={465--478},
  year={2022},
  publisher={IEEE}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gerini, Francesco and Zuo, Yihui and Gupta, Rahul and Zecchino, Antonio and Yuan, Zhao and Vagnoni, Elena and Cherkaoui, Rachid and Paolone, Mario<br>
      <b>Optimal grid-forming control of battery energy storage systems providing multiple services: Modeling and experimental validation</b><br>
      <i>Electric Power Systems Research</i>, vol. 212, 108567, 2022.<br>
      <a href="javascript:toggleBibtex('gerini2022optimal')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108567" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108567" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gerini2022optimal" class="bibtex noshow">
      <pre>
@article{gerini2022optimal,
  title={Optimal grid-forming control of battery energy storage systems providing multiple services: Modeling and experimental validation},
  author={Gerini, Francesco and Zuo, Yihui and Gupta, Rahul and Zecchino, Antonio and Yuan, Zhao and Vagnoni, Elena and Cherkaoui, Rachid and Paolone, Mario},
  journal={Electric Power Systems Research},
  volume={212},
  pages={108567},
  year={2022},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul Kumar and Sossan, Fabrizio and Le Boudec, Jean-Yves and Paolone, Mario<br>
      <b>Compound admittance matrix estimation of three-phase untransposed power distribution grids using synchrophasor measurements</b><br>
      <i>IEEE Transactions on Instrumentation and Measurement</i>, vol. 70, 1--13, 2021.<br>
      <a href="javascript:toggleBibtex('gupta2021compound')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/TIM.2021.3092063" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/TIM.2021.3092063" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2021compound" class="bibtex noshow">
      <pre>
@article{gupta2021compound,
  title={Compound admittance matrix estimation of three-phase untransposed power distribution grids using synchrophasor measurements},
  author={Gupta, Rahul Kumar and Sossan, Fabrizio and Le Boudec, Jean-Yves and Paolone, Mario},
  journal={IEEE Transactions on Instrumentation and Measurement},
  volume={70},
  pages={1--13},
  year={2021},
  publisher={IEEE}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Countrywide PV hosting capacity and energy storage requirements for distribution networks: The case of Switzerland</b><br>
      <i>Applied Energy</i>, vol. 281, 116010, 2021.<br>
      <a href="javascript:toggleBibtex('gupta2021countrywide')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.apenergy.2020.116010" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.apenergy.2020.116010" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2021countrywide" class="bibtex noshow">
      <pre>
@article{gupta2021countrywide,
  title={Countrywide PV hosting capacity and energy storage requirements for distribution networks: The case of Switzerland},
  author={Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario},
  journal={Applied Energy},
  volume={281},
  pages={116010},
  year={2021},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Grid-aware distributed model predictive control of heterogeneous resources in a distribution network: Theory and experimental validation</b><br>
      <i>IEEE Transactions on Energy Conversion</i>, vol. 36, 1392--1402, 2020.<br>
      <a href="javascript:toggleBibtex('gupta2020grid')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/TEC.2020.3015271" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/TEC.2020.3015271" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_gupta2020grid" class="bibtex noshow">
      <pre>
@article{gupta2020grid,
  title={Grid-aware distributed model predictive control of heterogeneous resources in a distribution network: Theory and experimental validation},
  author={Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario},
  journal={IEEE Transactions on Energy Conversion},
  volume={36},
  pages={1392--1402},
  year={2020},
  publisher={IEEE}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Fahmy, Sherif and Gupta, Rahul and Paolone, Mario<br>
      <b>Grid-aware distributed control of electric vehicle charging stations in active distribution grids</b><br>
      <i>Electric Power Systems Research</i>, vol. 189, 106697, 2020.<br>
      <a href="javascript:toggleBibtex('fahmy2020grid')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2020.106697" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2020.106697" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_fahmy2020grid" class="bibtex noshow">
      <pre>
@article{fahmy2020grid,
  title={Grid-aware distributed control of electric vehicle charging stations in active distribution grids},
  author={Fahmy, Sherif and Gupta, Rahul and Paolone, Mario},
  journal={Electric Power Systems Research},
  volume={189},
  pages={106697},
  year={2020},
  publisher={Elsevier}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Sossan, Fabrizio and Scolari, Enrica and Gupta, Rahul and Paolone, Mario<br>
      <b>Solar irradiance estimations for modeling the variability of photovoltaic generation and assessing violations of grid constraints: A comparison between satellite and pyranometers measurements with load flow simulations</b><br>
      <i>Journal of Renewable and Sustainable Energy</i>, vol. 11, N/A, 2019.<br>
      <a href="javascript:toggleBibtex('sossan2019solar')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[Project Page]</a>
    </p>
    <div id="bib_sossan2019solar" class="bibtex noshow">
      <pre>
@article{sossan2019solar,
  title={Solar irradiance estimations for modeling the variability of photovoltaic generation and assessing violations of grid constraints: A comparison between satellite and pyranometers measurements with load flow simulations},
  author={Sossan, Fabrizio and Scolari, Enrica and Gupta, Rahul and Paolone, Mario},
  journal={Journal of Renewable and Sustainable Energy},
  volume={11},
  pages={N/A},
  year={2019},
  publisher={AIP Publishing}
}
      </pre>
    </div>
  </li>
</ul>


<h4 id="conference-publications" style="margin-bottom:0px;padding-top:20px;">Conference Publications</h4>

<ul class="biblist">
  <li>
    <p>
      Asiamah, Richard and Gupta, Rahul and Haider, Rabab and Molzahn, Daniel.<br>
      <b>Performance Assessment of Data Sampling Strategies for Neural Network-based Voltage Approximations</b><br>
      <i>56th  North American Power Symposium (NAPS 2024), October 13-15, 2024</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('richard2024perf')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/NAPS61145.2024.10741775" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/NAPS61145.2024.10741775" target="_blank">[URL]</a>
    </p>
    <div id="bib_richard2024perf" class="bibtex noshow">
      <pre>
@inproceedings{richard2024perf,
  title={Performance Assessment of Data Sampling Strategies for Neural Network-based Voltage Approximations},
  author={Asiamah, Richard and Gupta, Rahul and Haider, Rabab and Molzahn, Daniel.},
  booktitle={56th  North American Power Symposium (NAPS 2024), October 13-15, 2024},
  year={2024}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Henry, Robin and \textbf{{Rahul Gupta}}<br>
      <b>Measurement-based/Model-less Estimation of Voltage Sensitivity Coefficients by Feedforward and LSTM Neural Networks in Power Distribution Grids</b><br>
      <i>8th Texas Power and Energy Conference (TPEC), February 12-13, 2024</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('henry2023measurement')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/TPEC60005.2024.10472179" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/TPEC60005.2024.10472179" target="_blank">[URL]</a>
    </p>
    <div id="bib_henry2023measurement" class="bibtex noshow">
      <pre>
@inproceedings{henry2023measurement,
  title={Measurement-based/Model-less Estimation of Voltage Sensitivity Coefficients by Feedforward and LSTM Neural Networks in Power Distribution Grids},
  author={Henry, Robin and \textbf{{Rahul Gupta}}},
  booktitle={8th Texas Power and Energy Conference (TPEC), February 12-13, 2024},
  year={2024}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Buason, Paprapee and Molzahn, Daniel K<br>
      <b>Fairness-aware Photovoltaic Generation Limits for Voltage Regulation in Power Distribution Networks using Conservative Linear Approximations</b><br>
      <i>8th Texas Power and Energy Conference (TPEC), February 12-13, 2024</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('gupta2024fairness')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2024fairness" class="bibtex noshow">
      <pre>
@inproceedings{gupta2024fairness,
  title={Fairness-aware Photovoltaic Generation Limits for Voltage Regulation in Power Distribution Networks using Conservative Linear Approximations},
  author={Gupta, Rahul and Buason, Paprapee and Molzahn, Daniel K},
  booktitle={8th Texas Power and Energy Conference (TPEC), February 12-13, 2024},
  year={2024}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Talkington, Samuel and Gupta, Rahul and Asiamah, Richard and Buason, Paprapee and Molzahn, Daniel K<br>
      <b>Strategic Electric Distribution Network Sensing via Spectral Bandits</b><br>
      <i>To appear in the 63rd IEEE Conference on Decision and Control (CDC), December 16-19, 2024, Milano, Italy</i>, vol. N/A, N/A, 2024.<br>
      <a href="javascript:toggleBibtex('talkingtonstrategic')">[BibTeX]</a>
      <a href="https://doi.org/https://doi.org/10.48550/arXiv.2410.21270" target="_blank">[PDF]</a>
      <a href="https://doi.org/https://doi.org/10.48550/arXiv.2410.21270" target="_blank">[URL]</a>
    </p>
    <div id="bib_talkingtonstrategic" class="bibtex noshow">
      <pre>
@inproceedings{talkingtonstrategic,
  title={Strategic Electric Distribution Network Sensing via Spectral Bandits},
  author={Talkington, Samuel and Gupta, Rahul and Asiamah, Richard and Buason, Paprapee and Molzahn, Daniel K},
  booktitle={To appear in the 63rd IEEE Conference on Decision and Control (CDC), December 16-19, 2024, Milano, Italy},
  year={2024}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Paolone, Mario<br>
      <b>Experimental Validation of Model-less Robust Voltage Control using Measurement-based Estimated Voltage Sensitivity Coefficients</b><br>
      <i>IEEE Belgrade PowerTech, June 25-29, 2023</i>, vol. N/A, 1--8, 2023.<br>
      <a href="javascript:toggleBibtex('gupta2023Expt')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/PowerTech55446.2023.10202696" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/PowerTech55446.2023.10202696" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2023Expt" class="bibtex noshow">
      <pre>
@inproceedings{gupta2023Expt,
  title={Experimental Validation of Model-less Robust Voltage Control using Measurement-based Estimated Voltage Sensitivity Coefficients},
  author={Gupta, Rahul and Paolone, Mario},
  booktitle={IEEE Belgrade PowerTech, June 25-29, 2023},
  year={2023}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Fahmy, Sherif and Paolone, Mario<br>
      <b>Coordinated Day-ahead Dispatch of Multiple Power Distribution Grids  hosting Stochastic Resources: An ADMM-based Framework</b><br>
      <i>2022 Power Systems Computation Conference (PSCC), Porto, Portugal</i>, vol. N/A, N/A, 2022.<br>
      <a href="javascript:toggleBibtex('gupta2022coordinated_pscc')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108555" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108555" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2022coordinated_pscc" class="bibtex noshow">
      <pre>
@inproceedings{gupta2022coordinated_pscc,
  title={Coordinated Day-ahead Dispatch of Multiple Power Distribution Grids  hosting Stochastic Resources: An ADMM-based Framework},
  author={Gupta, Rahul and Fahmy, Sherif and Paolone, Mario},
  booktitle={2022 Power Systems Computation Conference (PSCC), Porto, Portugal},
  year={2022}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gerini, Francesco and Zuo, Yihui and Gupta, Rahul and Zecchino, Antonio and Yuan, Zhao and Vagnoni, Elena and Cherkaoui, Rachid and Paolone, Mario<br>
      <b>Optimal grid-forming control of battery energy storage systems providing multiple services: Modeling and experimental validation</b><br>
      <i>2022 Power Systems Computation Conference (PSCC), Porto, Portugal</i>, vol. N/A, N/A, 2022.<br>
      <a href="javascript:toggleBibtex('gerini2022optimal_pscc')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[URL]</a>
    </p>
    <div id="bib_gerini2022optimal_pscc" class="bibtex noshow">
      <pre>
@inproceedings{gerini2022optimal_pscc,
  title={Optimal grid-forming control of battery energy storage systems providing multiple services: Modeling and experimental validation},
  author={Gerini, Francesco and Zuo, Yihui and Gupta, Rahul and Zecchino, Antonio and Yuan, Zhao and Vagnoni, Elena and Cherkaoui, Rachid and Paolone, Mario},
  booktitle={2022 Power Systems Computation Conference (PSCC), Porto, Portugal},
  year={2022}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Model-less Robust Voltage Control in Active Distribution Networks using Sensitivity Coefficients Estimated from Measurements</b><br>
      <i>2022 Power Systems Computation Conference (PSCC), Porto, Portugal</i>, vol. N/A, N/A, 2022.<br>
      <a href="javascript:toggleBibtex('gupta2022model_pscc')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108547" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2022.108547" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2022model_pscc" class="bibtex noshow">
      <pre>
@inproceedings{gupta2022model_pscc,
  title={Model-less Robust Voltage Control in Active Distribution Networks using Sensitivity Coefficients Estimated from Measurements},
  author={Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario},
  booktitle={2022 Power Systems Computation Conference (PSCC), Porto, Portugal},
  year={2022}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sovljanski, Vladimir and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Performance Comparison of Alternating Direction Optimization Methods for Linear-OPF based Real-time Predictive Control</b><br>
      <i>2021 IEEE Madrid PowerTech</i>, vol. N/A, 1--6, 2021.<br>
      <a href="javascript:toggleBibtex('gupta2021performance')">[BibTeX]</a>
      <a href="https://doi.org/#" target="_blank">[PDF]</a>
      <a href="https://doi.org/#" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2021performance" class="bibtex noshow">
      <pre>
@inproceedings{gupta2021performance,
  title={Performance Comparison of Alternating Direction Optimization Methods for Linear-OPF based Real-time Predictive Control},
  author={Gupta, Rahul and Sovljanski, Vladimir and Sossan, Fabrizio and Paolone, Mario},
  booktitle={2021 IEEE Madrid PowerTech},
  year={2021}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Fahmy, Sherif and Gupta, Rahul and Paolone, Mario<br>
      <b>Grid-aware distributed control of electric vehicle charging stations in active distribution grids</b><br>
      <i>2020 Power Systems Computation Conference (PSCC), Porto, Portugal</i>, vol. N/A, N/A, 2020.<br>
      <a href="javascript:toggleBibtex('fahmy2020grid_pscc')">[BibTeX]</a>
      <a href="https://doi.org/10.1016/j.epsr.2020.106697" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1016/j.epsr.2020.106697" target="_blank">[URL]</a>
    </p>
    <div id="bib_fahmy2020grid_pscc" class="bibtex noshow">
      <pre>
@inproceedings{fahmy2020grid_pscc,
  title={Grid-aware distributed control of electric vehicle charging stations in active distribution grids},
  author={Fahmy, Sherif and Gupta, Rahul and Paolone, Mario},
  booktitle={2020 Power Systems Computation Conference (PSCC), Porto, Portugal},
  year={2020}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario<br>
      <b>Performance assessment of linearized opf-based distributed real-time predictive control</b><br>
      <i>2019 IEEE Milan PowerTech</i>, vol. N/A, 1--6, 2019.<br>
      <a href="javascript:toggleBibtex('gupta2019performance')">[BibTeX]</a>
      <a href="https://doi.org/10.1109/PTC.2019.8810532" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.1109/PTC.2019.8810532" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2019performance" class="bibtex noshow">
      <pre>
@inproceedings{gupta2019performance,
  title={Performance assessment of linearized opf-based distributed real-time predictive control},
  author={Gupta, Rahul and Sossan, Fabrizio and Paolone, Mario},
  booktitle={2019 IEEE Milan PowerTech},
  year={2019}
}
      </pre>
    </div>
  </li>
  <li>
    <p>
      Gupta, Rahul and Sossan, Fabrizio and Scolari, Enrica and Namor, Emil and Fabietti, Luca and Jones, Colin and Paolone, Mario<br>
      <b>An admm-based coordination and control strategy for pv and storage to dispatch stochastic prosumers: Theory and experimental validation</b><br>
      <i>2018 Power Systems Computation Conference (PSCC)</i>, vol. N/A, 1--7, 2018.<br>
      <a href="javascript:toggleBibtex('gupta2018admm')">[BibTeX]</a>
      <a href="https://doi.org/10.23919/PSCC.2018.8450879" target="_blank">[PDF]</a>
      <a href="https://doi.org/10.23919/PSCC.2018.8450879" target="_blank">[URL]</a>
    </p>
    <div id="bib_gupta2018admm" class="bibtex noshow">
      <pre>
@inproceedings{gupta2018admm,
  title={An admm-based coordination and control strategy for pv and storage to dispatch stochastic prosumers: Theory and experimental validation},
  author={Gupta, Rahul and Sossan, Fabrizio and Scolari, Enrica and Namor, Emil and Fabietti, Luca and Jones, Colin and Paolone, Mario},
  booktitle={2018 Power Systems Computation Conference (PSCC)},
  year={2018}
}
      </pre>
    </div>
  </li>
</ul>
      </ul>
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
